<div class="main">
  <div class="wrapper">
    <h1>
      <%= link_to "Educare Center", root_path, id: 'logo' %>
    </h1>
  </div>
  <div id="slogan">
    Care about your English
  </div>
    <ul class="banners">
    <li>
      <a href="/coibong/category/khuyen-mai.html">
        <img src="/assets/chuong-trinh-uu-dai.png" alt="chuong trinh uu dai"></a>
      </li>
    <li>
      <a href="/coibong/post/lich-khai-giang.html">
        <img src="/assets/lich-khai-giang.png" alt="lich khai giang"></a>
      </li>
    <li>
      <a href="#">
        <img src="/assets/goc-hoc-vien.png" alt="goc hoc vien">      </a>
    </li>
  </ul>
</div>