<header>
  <div class="wrapper">
    <nav>
      <ul id="menu">
        <li>
          <%= link_to "Giới Thiệu", '/gioi-thieu' %>
        </li>
        <li>
          <%= link_to "Khóa Học", courses_path %>
        </li>
        <li>
          <%= link_to "Giảng Viên", teachers_path %>
        </li>
        <li>
          <a href="/coibong/category/tin-hot-educare.html">Tin hot Educare</a>
        </li>
        <li class="end">
          <a href="/coibong/category/tips-tieng-anh.html">Tips Tiếng Anh</a>
        </li>
      </ul>
    </nav>

    <div class="account right">
      <% if user_signed_in? %>
        <div class="topbar_info_user">
          <div class="avatar">
            <%= image_tag current_user.avatar_url %>
          </div>
          <div class="username">
            Xin chào <%= current_user.full_name %>
          </div>
        </div>
      <% else %>
        <div class="login">
          <%= link_to "Đăng nhập", user_session_path %>
        </div>
      <% end %>
    </div>
  </div>
</header>