<div id="scrollup">
  <ul id="marquee1" class="marquee">
    <li class="" style="top: -32px; left: 0px;">
      Mỗi thầy cô giáo là một tấm gương đạo đức, tự học và sáng tạo.
    </li>
    <li class="" style="top: -32px; left: 0px;">
      Sống hoà hợp với mọi người và với môi trường xung quanh để có cuộc sống tươi đẹp hơn, ý nghĩa hơn.
    </li>
    <li class="marquee-showing" style="top: 0px; left: 0px;">
        Muốn xây dựng đất nước, trước hết phải phát triển giáo dục. Muốn trị nước, phải trọng dụng người tài.&nbsp; - &nbsp;
        <span class="author">
          Chiếu Lập Học
        </span>
    </li>
    <li class="" style="top: -32px; left: 0px;">
        Chúng ta cần phải sống thân thiện với môi trường, giữ gìn và bảo vệ môi trường trong sạch.
    </li>
  </ul>
</div>