<div class="wrapper">
  <article class="cols marg_right1">
    <figure>
      <a href="#">
        <img src="/assets/page1_img1.jpg" alt="">        </a>
    </figure>
    <span class="font1">Cam Kết Của Chúng Tôi</span>
  </article>

  <article class="cols marg_right1">
    <figure>
      <a href="#">
        <img src="/assets/page1_img2.jpg" alt="">        </a>
    </figure>
    <span class="font1">Học Viên Tiêu Biểu</span>
  </article>

  <article class="cols">
    <figure>
      <a href="#">
        <img src="/assets/page1_img3.jpg" alt="">        </a>
    </figure>
    <span class="font1">Hoạt Động Cộng Đồng</span>
  </article>
</div>