  <div class="group">
    <%= f.label :full_name, t("activerecord.attributes.teacher.full_name", :default => "Full name"), :class => :label %>
    <%= f.text_field :full_name, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :email, t("activerecord.attributes.teacher.email", :default => "Email"), :class => :label %>
    <%= f.text_field :email, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :phone_number, t("activerecord.attributes.teacher.phone_number", :default => "Phone number"), :class => :label %>
    <%= f.text_field :phone_number, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :avatar_uid, t("activerecord.attributes.teacher.avatar_uid", :default => "Avatar uid"), :class => :label %>
    <%= f.file_field :avatar, :class => 'file_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :bio, t("activerecord.attributes.teacher.bio", :default => "Bio"), :class => :label %>
    <%= f.text_area :bio, :class => 'ckeditor' %>
    <span class="description">Ex: a simple text</span>
  </div>

<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
	<%= link_to t("web-app-theme.cancel", :default => "Cancel"), admin_teachers_path, :class => "text_button_padding link_button" %>
</div>
