<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_teachers_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_teacher_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Teachers</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>
                    <th>
            <%= t("activerecord.attributes.admin_teacher._type", :default => t("activerecord.labels._type", :default => "_type")) %>
          </th>
                    <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @teachers.each do |teacher| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= teacher.id %>
          </td>
                    <td>
            <%= link_to teacher._type, admin_teacher_path(teacher) %>
          </td>
                    <td>
            <%= teacher.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_teacher_path(teacher) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_teacher_path(teacher) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_teacher_path(teacher), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
