<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_teachers_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_teacher_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_teacher_path %></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.admin_teacher._type", :default => t("activerecord.labels._type", :default => " type")) %>:</b>
          <%= @teacher._type %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_teacher._id", :default => t("activerecord.labels._id", :default => "")) %>:</b>
          <%= @teacher._id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_teacher.deleted_at", :default => t("activerecord.labels.deleted_at", :default => "Deleted at")) %>:</b>
          <%= @teacher.deleted_at %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_teacher.full_name", :default => t("activerecord.labels.full_name", :default => "Full name")) %>:</b>
          <%= @teacher.full_name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_teacher.email", :default => t("activerecord.labels.email", :default => "Email")) %>:</b>
          <%= @teacher.email %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_teacher.phone_number", :default => t("activerecord.labels.phone_number", :default => "Phone number")) %>:</b>
          <%= @teacher.phone_number %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_teacher.bio", :default => t("activerecord.labels.bio", :default => "Bio")) %>:</b>
          <%= @teacher.bio %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_teacher.avatar_uid", :default => t("activerecord.labels.avatar_uid", :default => "Avatar uid")) %>:</b>
          <%= @teacher.avatar_uid %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_teacher_path(@teacher), :class => "button" %>
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_teacher_path(@teacher), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
