<div class="module new_pgs">
  <h3><span>Chương Trình Mới</span></h3>
  <ul class="list1">
    <li><a href="/post/khoa-hoc-giao-tiep-gia-re.html">Giao tiếp quốc tế</a></li>
    <li><a href="/post/khoa-hoc-toeic-gia-re.html">Khóa học Toeic</a></li>
    <li><a href="/post/khoa-hoc-ngu-phap-gia-re.html">Khóa học ngữ pháp</a></li>
    <li><a href="/post/khoa-hoc-foudation.html">Khóa học Foundation</a></li>
    <li><a href="/post/khoa-hoc-ielts.html">Khóa học IELTS (NEW)</a></li>
  </ul>
</div>

<div class="module">
<h3><span>Tin Mới Nhất</span></h3>
  <div class="wrapper">
    <span class="date">02</span>
    <p class="pad_top2">
      <a href="/post/tong-ket-chuong-trinh.html">Tổng kết chương trình “Tag tên bạn thân , rinh ngay giải thưởng”</a>
    </p>
    <p><small>2013-07-02 03:12:25</small></p><p></p>
  </div>
  <div class="wrapper">
    <span class="date">
      14    </span>
    <p class="pad_top2">
      <a href="/post/chuong-trinh-uu-dai-2013.html">Chương trình ưu đãi năm 2013</a>
    </p>
    <p><small>2013-06-14 03:34:29</small></p><p></p>
  </div>
  <div class="wrapper">
    <span class="date">
      13    </span>
    <p class="pad_top2">
      <a href="/post/quyen-loi-hoc-vien.html">Quyền lợi học viên tại educare Việt Nam</a>      </p><p>
        <small>2013-06-13 13:08:31</small>
      </p>
    <p></p>
  </div>
</div>

<div class="module">
  <h3><span>Hỗ trợ trực tuyến</span></h3>
  <div class="online">
    <div class="tv1">
      <a rel="nofollow" href="ymsgr:sendim?educare_tuvan1">
        <img src="http://opi.yahoo.com/online?u=educare_tuvan1&amp;m=g&amp;t=14" alt="hỗ trợ trực tuyến" class="yh">
      </a>
      <p>3B Tạ Quang Bửu</p>
    </div>
    <div class="tv2">
      <a rel="nofollow" href="ymsgr:sendim?educare_tuvan2">
        <img src="http://opi.yahoo.com/online?u=educare_tuvan2&amp;m=g&amp;t=14" alt="hỗ trợ trực tuyến" class="yh">
      </a>
      <p>Pham Tuấn Tài</p>
    </div>
  </div>
  <div class="online skype">
    <a href="skype:educare.support?call">
      <img src="http://www.vnasports.com/images/skype.png" alt="hỗ trợ trực tuyến skype" class="sk">
    </a>
  </div>
</div>