  <div class="group">
    <%= f.label :category_id, t("activerecord.attributes.post.category_id", :default => "Category"), :class => :label %>
    <%= f.select :category_id, Category.all.map { |c| ["#{c.title}", c.id] }, include_blank: true %>
    <span class="description">Choise category name</span>
  </div>

  <div class="group">
    <%= f.label :title, t("activerecord.attributes.post.title", :default => "Title"), :class => :label %>
    <%= f.text_field :title, :class => 'text_field', style: "width: 650px !important; height: 20px;" %>
    <span class="description">Enter the title</span>
  </div>


  <div class="group">
    <%= f.label :photo, t("activerecord.attributes.post.photo_uid", :default => "Photo"), :class => :label %>
    <%= image_tag @post.photo.thumb('100x100').url if @post.photo_uid %>
    <%= f.file_field :photo, :class => 'file_field' %>
    <span class="description">Enter image</span>
  </div>

  <div class="group">
    <%= f.label :description, t("activerecord.attributes.post.description", :default => "Description"), :class => :label %>
    <%= f.text_area :description, :class => 'text_area', :style => "width: 100%; height: 100px;" %>
    <span class="description">Enter the description</span>
  </div>

  <div class="group">
    <%= f.label :body, t("activerecord.attributes.post.body", :default => "Body"), :class => :label %>
    <%= f.text_area :body, :class => 'ckeditor' %>
    <span class="description">Enter content</span>
  </div>

<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
	<%= link_to t("web-app-theme.cancel", :default => "Cancel"), admin_posts_path, :class => "text_button_padding link_button" %>
</div>
