<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_posts_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_post_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Posts</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th>
            <%= link_to 'Name', admin_posts_path(sort_by_title: true, per_page: "#{session['per_page'].nil? ? 20 : session['per_page']}" ) %>
          </th>
          <th>Category</th>
          <th>Created by</th>
          <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @posts.each do |post| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= link_to post.title, admin_post_path(post) %>
          </td>
          <td>
            <%= link_to post.category.title, admin_category_path(post.category) %>
          </td>
          <td><%= link_to post.user.full_name, admin_user_path(post.user) %></td>
          <td>
            <%= post.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_post_path(post) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_post_path(post) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_post_path(post), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
          <%= paginate @posts %>
        </div>

      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
