<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_posts_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_post_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_post_path %></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">
        <p>
          <b><%= t("activerecord.attributes.admin_post.title", :default => t("activerecord.labels.title", :default => "Title")) %>:</b>
          <%= @post.title %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_post.description", :default => t("activerecord.labels.description", :default => "Description")) %>:</b>
          <%= @post.description %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_post.body", :default => t("activerecord.labels.body", :default => "Body")) %>:</b>
          <%= @post.body %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_post.user_id", :default => t("activerecord.labels.user_id", :default => "Created by")) %>:</b>
          <%= @post.user.full_name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_post.category_id", :default => t("activerecord.labels.category_id", :default => "Category")) %>:</b>
          <%= @post.category.nil? ? '' : @post.category.title %>
        </p>

      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_post_path(@post), :class => "button" %>
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_post_path(@post), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
