  <div class="group">
    <%= f.label :title, t("activerecord.attributes.category.title", :default => "Title"), :class => :label %>
    <%= f.text_field :title, :class => 'text_field' %>
    <span class="description">Enter the title</span>
  </div>

  <div class="group">
    <%= f.label :description, t("activerecord.attributes.category.description", :default => "Description"), :class => :label %>
    <%= f.text_area :description, :class => 'text_area', :style => "width: 100%; height: 100px;" %>
    <span class="description">Enter the description</span>
  </div>

  <div class="group navform wat-cf">
    <button class="button" type="submit">
      <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
    </button>
    <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
  	<%= link_to t("web-app-theme.cancel", :default => "Cancel"), admin_categories_path, :class => "text_button_padding link_button" %>
  </div>
