<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_categories_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_category_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_category_path %></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">
        <p>
          <b><%= t("activerecord.attributes.admin_category.title", :default => t("activerecord.labels.title", :default => "Title")) %>:</b>
          <%= @category.title %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_category.description", :default => t("activerecord.labels.description", :default => "Description")) %>:</b>
          <%= @category.description %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_category_path(@category), :class => "button" %>
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_category_path(@category), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Posts of <%= @category.title %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>
          <th>Title</th>
          <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @category.posts.each do |post| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= post.id %>
          </td>
          <td>
            <%= link_to post.title, admin_post_path(post) %>
          </td>
          <td>
            <%= post.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_post_path(post) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_post_path(post) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_post_path(post), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>