<div class="module">
  <h3><span>Dang Ky Khoa Hoc</span></h3>
  <%= simple_form_for :user do |f| %>
    <%= f.input :full_name %>
    <%= f.input :email %>
    <%= f.input :phone_number %>
    <%= f.label :courses, :default => "Course", :class => :label %>
    <%= f.select :courses, Course.all.map { |c| ["#{c.title}", c.id] }, include_blank: true %>
    <%= f.submit :submit %>
  <% end %>
</div>