<% content_for :sidebar do %>
  <%= render 'courses/register_form' %>
  <%= render 'pages/sidebar' %>
<% end %>
<div class="left posts">
  <% @courses.each do |course| %>
    <article class="left articles">
      <div class="article">
        <h3><%= link_to course.title, course_path(course) %></h3>
          <div class="wrapper">
            <%= image_tag course.thumb_photo_url, alt: course.title %>
            <%= course.description %>
            <br />
            <div class="readmore">
              <%= link_to course_path(course), class: 'button' do %>
                <span><span>Xem Thêm</span></span>
              <% end %>
            </div>
          </div>
        </div>
        <hr>
    </article>
  <% end %>
<%= paginate @courses %>
</div>