<% content_for :sidebar do %>
  <%= render 'pages/sidebar' %>
<% end %>
<div class="left posts">
  <% @posts.each do |post| %>
    <article class="left articles">
      <div class="article">
        <h3><%= link_to post.title, post_path(post) %></h3>
        <small><i>Create by: <%= post.user.full_name %>, <%= post.created_at %></i></small>
          <div class="wrapper">
            <%= image_tag post.thumb_photo_url, alt: post.title %>
            <%= post.description %>
            <br />
            <div class="readmore">
              <%= link_to post_path(post), class: 'button' do %>
                <span><span>Xem Thêm</span></span>
              <% end %>
            </div>
          </div>
        </div>
        <hr>
    </article>
  <% end %>
<%= paginate @posts %>
</div>