.teachers ul li {
  &:first-child {
    padding-left: 0;
  }
  height: 280px;
  width: 200px;
  float: left;
  text-decoration: none;
  padding-left: 20px;
}

/* Article home page */

.articles {
  width: 680px;
  h3 {
    font-size: 27px;
    color: #000;
    line-height: 1em;
    padding: 3px 0 0px 0;
    letter-spacing: -2px;
  }
  img {
    float: left;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 10px;
    margin-right: 15px;
    width: 230px;
  }
  .readmore a.button {
    float: right;
    margin-top: 0px;
  }
}

.sidebar {
  width: 270px;
}

.new_pgs {
  margin-top: 0px !important;
  ul {
    margin: 0px !important;
  }
}

/* footer */

footer {
  bottom: 0px;
  .wrap {
    overflow: hidden;
    padding: 0 20px;
  }
  .address {
    float: left;
    display: inline-block;
    width: 50%;
    line-height: 30px;
    font-size: 14px;
  }
  .module {
    margin: 0 10px;
  }
}

/* Module */

div.module {
  border: 1px solid #eee;
  border-radius: 4px 4px 0 0;
  margin-top: 20px;
  padding-bottom: 10px;
  > h3 {
    background-color: #138128;
    height: 22px;
    border-radius: 4px 4px 0 0;
    color: #fff;
    padding: 10px 5px;
    margin: 0 0 10px 0;
    span {
      display: block;
      height: 22px;
      padding: 0 10px;
      line-height: 1em;
      font-size: 25px;
    }
  }
}

.online {
  text-align: center;
  .tv1 {
    float: left;
    width: 130px;
  }
}

.tv2 {
  float: left;
  width: 130px;
}

.online img {
  width: 80px;
  height: 60px;
  &.sk {
    height: 40px;
  }
}

/* scroller */

#scrollup {
  padding-top: 10px;
  background: #222a03;
  margin: 15px 0;
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-bottom: solid 5px #fa8302;
    &.marquee {
      display: block;
      line-height: 1;
      position: relative;
      overflow: hidden;
      height: 12px;
      li {
        text-align: center;
        position: absolute;
        top: -999em;
        left: 0;
        display: block;
        white-space: nowrap;
        padding: 3px 5px;
        color: #fcfcfc;
        padding-left: 20px;
        padding-right: 20px;
        span.author {
          color: #73b51a;
        }
      }
    }
  }
}

.error {
  font-size: 11px;
  color: red;
}

#flash_msg {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10000;
}

article {
  text-align: justify;
  text-justify: newspaper;
}

header div {
  &.account {
    padding-top: 8px;
    color: #fff;
    margin-right: 40px;
  }
  &.login {
    padding-top: 6px;
  }
  &.account {
    a {
      color: #FA8302;
      &:hover {
        color: #fff;
      }
    }
    .avatar {
      padding: 0 8px;
      display: inline-block;
      float: left;
      img {
        width: 28px;
        height: 28px;
        border-radius: 4px;
        background-color: #fff;
        padding: 2px;
      }
    }
    .username {
      display: inline-block;
      float: left;
      line-height: 16px;
      width: 60px;
      text-align: center;
    }
  }
}