.col1, .col2, .col3 {
  float: left;
}

.cols {
  float: left;
  width: 300px;
}

.col1 {
  width: 600px;
}

.col2 {
  width: 270px;
}

.col_1 {
  width: 232px;
  float: left;
  line-height: 30px;
  font-size: 14px;
}

.col_2 {
  width: 107px;
  float: left;
}

.col_3 {
  width: 179px;
  float: left;
}

.col_4 {
  width: 263px;
  float: left;
}

.col_address {
  width: 75px;
  float: left;
}

/* index.html */

#page1 {
  background: url(bg_top1.jpg) top repeat-x white;
  header {
    height: 65px;
  }
  .body1 {
    background: url(bg_top_img1.jpg) top center no-repeat;
  }
  #slogan {
    width: 629px;
    margin: 0;
    padding: 0;
    float: left;
  }
}

.fl {
  float: left;
}

#page2 .cols, #page5 .cols {
  width: 243px;
}