/* Getting the new tags to behave */

article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
  display: block;
}

mark, rp, rt, ruby, summary, time {
  display: inline;
}

/* Left & Right alignment */

.left {
  float: left;
}

.right {
  float: right;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

/* Global properties */

body {
  background: url(bg_top2.jpg) top repeat-x white;
  border: 0;
  min-width: 1000px;
}

ul li {
  list-style: none;
}

.articles ul li {
  list-style-type: disc;
}

/* Global Structure */

.main {
  margin: 0 auto;
  width: 1000px;
  min-height: 310px;
}

.main_body {
  background-color: #fff;
}

.body1 {
  background: url(bg_top_img2.jpg) top center no-repeat;
}

.body2 {
  background: #f2f2f2;
}

/* main layout */

a {
  color: #000;
  text-decoration: none;
  outline: none;
  &:hover {
    text-decoration: none;
  }
}

/* header */

header {
  height: 65px;
  width: 100%;
  overflow: hidden;
}

#logo {
  display: block;
  background: url(logo.png) no-repeat;
  width: 273px;
  height: 84px;
  text-indent: -9999px;
  float: left;
}

#menu {
  float: left;
  padding: 5px 0 0 39px;
  li {
    float: left;
    padding-right: 17px;
    background: url(menu_line.jpg) right 7px no-repeat;
    margin-right: 15px;
  }
  .end {
    background: none;
  }
  li a {
    display: block;
    font-size: 15px;
    color: #fff;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    height: 40px;
    &:hover {
      color: black;
    }
  }
  #menu_active a {
    color: black;
  }
}

#icon {
  float: right;
  padding: 8px 40px 0 0;
  li {
    float: left;
    padding-left: 15px;
  }
}

#icons {
  float: right;
  padding: 20px 39px 0 0;
  li {
    float: left;
    padding-left: 11px;
  }
}

#slogan {
  display: none;
  font-size: 46px;
  color: #002b3a;
  line-height: 1.2em;
  margin: 80px 0 80px 39px;
  padding-top: 18px;
  letter-spacing: -2px;
  span {
    display: block;
    font-size: 36px;
    line-height: 1.2em;
    margin-top: -12px;
  }
}

.banners {
  padding: 26px 0 0 35px;
  li {
    padding-bottom: 2px;
  }
}

/* content */

#content {
  width: 100%;
  overflow: hidden;
}

.pad1 {
  padding: 0 34px;
}

.pad_left1 {
  padding-left: 5px;
}

.pad_left2 {
  padding-left: 42px;
}

.pad_top1 {
  padding-top: 33px;
}

.pad_top2 {
  padding-top: 7px;
}

.pad_bot1 {
  padding-bottom: 10px;
}

.pad_bot2 {
  padding-bottom: 18px;
}

.marg_right1 {
  margin-right: 45px;
}

.marg_top1 {
  margin-top: -10px;
}

.marg_left1 {
  margin-left: -5px;
}

.font1 {
  text-align: center;
  display: block;
  font-size: 23px;
  line-height: 1.2em;
  padding: 5px 0 5px 0;
  color: #000;
}

.font2 {
  font-size: 22px;
  line-height: 1.2em;
  color: #0055a2;
  padding: 0 0 20px 0;
  margin-top: -3px;
  span {
    display: block;
    margin-top: -6px;
  }
  a {
    color: #0055a2;
    text-decoration: none;
    &:hover {
      color: black;
    }
  }
}

.box1 {
  padding: 0 10px;
  background: #fff;
}

.box2 {
  background: #f2f2f2;
  padding: 17px 30px 20px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  position: relative;
  margin-right: 5px;
  margin-bottom: 25px;
}

.button {
  display: inline-block;
  color: #fff;
  background: url(button1_bg.gif) 0 0 repeat-x;
  line-height: 40px;
  text-decoration: none;
  cursor: pointer;
  span {
    display: block;
    background: url(button1_left.gif) 0 0 no-repeat;
    span {
      background: url(button1_right.gif) top right no-repeat;
      padding: 0 25px;
      height: 42px;
    }
  }
  &:hover {
    background-position: bottom;
    span {
      background-position: bottom left;
      span {
        background-position: bottom right;
      }
    }
  }
}

.list1 {
  margin-top: -12px;
  li {
    line-height: 40px;
    a {
      display: inline-block;
      background: url(marker_1.gif) 0 2px no-repeat;
      padding-left: 48px;
      color: #363636;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        background-position: 0 -38px;
        color: #8bc91e;
      }
    }
  }
}

.list2 {
  margin-top: -1px;
  li {
    font: 14px Tahoma, Geneva, sans-serif;
    line-height: 30px;
    a {
      color: #4c4c4c;
      text-decoration: none;
      padding-left: 10px;
      background: url(marker_3.gif) 0 6px no-repeat;
      &:hover {
        color: #0055a2;
        background-position: 0 -17px;
      }
    }
  }
}

.list3 li {
  line-height: 30px;
  a {
    color: #0055a2;
    background: url(marker_3.gif) 0 -17px no-repeat;
    padding-left: 10px;
    &:hover {
      color: #000;
      background-position: 0 6px;
    }
  }
}

.date {
  float: left;
  width: 72px;
  height: 50px;
  background: url(date.gif) 0 0 no-repeat;
  margin-right: 14px;
  font-size: 34px;
  line-height: 1.2em;
  padding-top: 22px;
  text-align: center;
}

.link1 {
  text-decoration: none;
  &:hover {
    color: #0055a2;
  }
}

.quot {
  padding-left: 42px;
  background: url(quot.gif) 0 4px no-repeat;
  overflow: hidden;
  span {
    display: block;
  }
}

.color1 {
  color: #0056a3;
}

.color2 {
  color: #8f8f8f;
}

.posts {
  width: 700px;
}