/*
 * This css will include all web-app-theme css you need
 *
 *= require web-app-theme/base
 *= require web-app-theme/themes/default/style.css
 *= require jquery-ui
 *= require_self
 */

/* Write here your css for overriding the theme's rules */

.flash .alert, .flash .alert {
  border: 1px solid #993624;
  background: #cc4831 url("web-app-theme/themes/default/images/messages/error.png") no-repeat 10px center;
}

#sidebar h3 { padding-left: 0; font-size: 16px; margin-bottom: 10px}

#sidebar input.string, #sidebar textarea {
  width: 95%;
  padding: 3px;
  border-color: #AAA;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

#sidebar .actions input { padding: 3px; margin-right: 3px}

table th.last { width: 130px!important; min-width: 130px!important;}

#main-navigation ul li {
  padding: 5px 10px;
}

#main-navigation ul {
  margin-left: 250px;
}

.group .text_field{
    width: 200px !important;
}

div.select2-container {
  width: 255px !important;
}

.pagination ul > li {
  display: inline; // Remove list-style and block-level defaults
}
.pagination ul > li > a,
.pagination ul > li > span {
  float: left; // Collapse white-space
  padding: 4px 12px;
  text-decoration: none;
  border-left-width: 0;
}