<% content_for :sidebar do %>
  <div class="module new_pgs">
    <h3><span>Chương Trình Mới</span></h3>
    <ul class="list1">
      <li><a href="/post/khoa-hoc-giao-tiep-gia-re.html">Giao tiếp quốc tế</a></li>
      <li><a href="/post/khoa-hoc-toeic-gia-re.html">Khóa học Toeic</a></li>
      <li><a href="/post/khoa-hoc-ngu-phap-gia-re.html">Khóa học ngữ pháp</a></li>
      <li><a href="/post/khoa-hoc-foudation.html">Khóa học Foundation</a></li>
      <li><a href="/post/khoa-hoc-ielts.html">Khóa học IELTS (NEW)</a></li>
    </ul>
  </div>
<% end %>