  <div class="group">
    <%= f.label :full_name, t("activerecord.attributes.user.full_name", :default => "Full name"), :class => :label %>
    <%= f.text_field :full_name, :class => 'text_field' %>
    <span class="description">Enter the full name</span>
  </div>

  <div class="group">
    <%= f.label :email, t("activerecord.attributes.user.email", :default => "Email"), :class => :label %>
    <%= f.text_field :email, :class => 'text_field' %>
    <span class="description">Enter email</span>
  </div>

  <div class="group">
    <%= f.label :encrypted_password, t("activerecord.attributes.user.encrypted_password", :default => "Encrypted password"), :class => :label %>
    <%= f.text_field :encrypted_password, :class => 'text_field' %>
    <span class="description">Enter password</span>
  </div>

  <div class="group">
    <%= f.label :reset_password_token, t("activerecord.attributes.user.reset_password_token", :default => "Reset password token"), :class => :label %>
    <%= f.text_field :reset_password_token, :class => 'text_field' %>
    <span class="description">Enter password</span>
  </div>

  <div class="group">
    <%= f.label :address, t("activerecord.attributes.user.address", :default => "Address"), :class => :label %>
    <%= f.text_field :address, :class => 'text_field' %>
    <span class="description">Enter address</span>
  </div>

  <div class="group">
    <%= f.label :phone_numer, t("activerecord.attributes.user.phone_numer", :default => "Phone numer"), :class => :label %>
    <%= f.text_field :phone_numer, :class => 'text_field' %>
    <span class="description">Enter phone number</span>
  </div>

  <div class="group">
    <%= f.label :avatar_uid, t("activerecord.attributes.user.avatar_uid", :default => "Avatar uid"), :class => :label %>
    <%= f.text_field :avatar_uid, :class => 'text_field' %>
    <span class="description">Enter avatar</span>
  </div>
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
	<%= link_to t("web-app-theme.cancel", :default => "Cancel"), admin_users_path, :class => "text_button_padding link_button" %>
</div>