<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_users_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_user_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_user_path %></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">
        <p>
          <b><%= t("activerecord.attributes.admin_user.full_name", :default => t("activerecord.labels.full_name", :default => "Full name")) %>:</b>
          <%= @user.full_name %>
        </p>
        <p>
          <b><%= t("activerecord.attributes.admin_user.email", :default => t("activerecord.labels.email", :default => "Email")) %>:</b>
          <%= @user.email %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_user.address", :default => t("activerecord.labels.address", :default => "Address")) %>:</b>
          <%= @user.address %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_user.phone_numer", :default => t("activerecord.labels.phone_numer", :default => "Phone numer")) %>:</b>
          <%= @user.phone_numer %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_user.role", :default => t("activerecord.labels.role", :default => "Role")) %>:</b>
          <%= @user.role %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_user.avatar_uid", :default => t("activerecord.labels.avatar_uid", :default => "Avatar uid")) %>:</b>
          <%= @user.avatar_uid %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_user_path(@user), :class => "button" %>
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_user_path(@user), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>