<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_courses_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_course_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Courses</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th>
            <%= link_to 'Name', admin_courses_path(sort_by_title: true, per_page: "#{session['per_page'].nil? ? 20 : session['per_page']}" ) %>
          </th>
          <th>Number of leaner</th>
          <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @courses.each do |course| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= link_to course.title, admin_course_path(course) %>
          </td>
          <td><%= course.users.count %></td>
          <td>
            <%= course.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_course_path(course) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_course_path(course) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_course_path(course), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
          <%= paginate @courses %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
