<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_courses_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_course_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_course_path %></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">
        <p>
          <b><%= t("activerecord.attributes.admin_course._id", :default => t("activerecord.labels._id", :default => "")) %>:</b>
          <%= @course._id %>
        </p>
        <p>
          <b><%= t("activerecord.attributes.admin_course.title", :default => t("activerecord.labels.title", :default => "Title")) %>:</b>
          <%= @course.title %>
        </p>
        <p>
          <b><%= t("activerecord.attributes.admin_course.description", :default => t("activerecord.labels.description", :default => "Description")) %>:</b>
          <%= @course.description %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_course_path(@course), :class => "button" %>
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_course_path(@course), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Users of <%= @course.title %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th>
            <%= link_to 'Full name', admin_users_path(sort_by_full_name: true, per_page: "#{session['per_page'].nil? ? 20 : session['per_page']}" ) %>
          </th>
          <th>Email</th>
          <th>
            Number Register Courses
          </th>
          <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @course.users.each do |user| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= link_to user.full_name, admin_user_path(user) %>
          </td>
          <td>
            <%= link_to user.email, admin_user_path(user) %>
          </td>
          <td>
            <%= user.courses.count %>
          </td>
          <td>
            <%= user.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_user_path(user) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_user_path(user) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_user_path(user), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :sidebar, render(:partial => 'sidebar') -%>
