
#public_profile{
  .profile {
    width: 100%;
    .profile_picture {
      width: 100px;
      height: 100px;
    }

    .info {
      float: left;
      clear: right;
      .viewer_name {

      }

      .last_seen {

      }
    }
  }
}