<!DOCTYPE html>
<html>
<head>
  <title>Educare</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="page1">
  <div class="body1">
    <%= render '/layouts/shared/header' %>
    <%= render '/layouts/shared/banner' %>

    <% flash.each do |key, msg| %>
      <%= content_tag :div, class: "alert alert-#{key} alert-cardzee", id: "notice" do %>
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <%= msg %>
      <% end %>
    <% end %>
    <div class="body2">
      <div class="main main_body">
        <section id="content">
          <%= render 'layouts/shared/scroller' %>
          <div class="box1">
            <%= yield %>
            <article class="right sidebar">
              <%= yield :sidebar %>
            </article>
          </div>
        </section>
        <%= render 'layouts/shared/footer' %>
      </div>
    </div>
  </div>
</body>
</html>

